<ion-header>
  <ion-toolbar color="primary"></ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-grid>
    <ion-row *ngFor="let message of messages | async">

      <ion-col size="10"  class="message" [offset]="message.myMsg ? 2 : 0" [ngClass]="{ 'my-message': message.myMsg, 'other-message': !message.myMsg }">

        <ion-row class="top-row">
          <ion-img [src]="message.user.image"></ion-img>
          <b class="ion-padding color-secondary"  >{{ message.fromName }}</b>
        </ion-row>

        <ion-text class="ion-margin" class="color-white">
          {{ message.msg }}
        </ion-text>

        <div class="time ion-tect-right"><br>{{ message.createdAt?.toMillis() | date:'short' }}</div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row class="ion-align-items-center">
      <ion-col size="8">
        <ion-textarea autoGrow="true" class="message-input" rows="1" maxLenght="1000" [(ngModel)]="newMsg" placeholder="Ecrire ici..">
        </ion-textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button [disabled]="newMsg === ''" class="msg-btn" (click)="sendMessage()">
          <ion-icon  color="dark" name="send"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
