<ion-header>
  <ion-toolbar lines="none">
    <ion-buttons slot="start">
      <ion-button routerLink="/feed">
        <ion-icon name="caret-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>alertes</ion-title>
  </ion-toolbar>
</ion-header>
  <ion-content [fullscreen]="true">
    <ion-card>
      <ion-item>
        <ion-label style="font-size: 15px; color: #2dbb17;" for="">Changement climatique en vidéo</ion-label>
      </ion-item>
    </ion-card>
    <ion-card>
      <video width="320px" height="320px" controls >
        <source src="https://firebasestorage.googleapis.com/v0/b/ionfire-d0376.appspot.com/o/Vid%C3%A9os%2FChangement%20climatique%20au%20Mali%20les%20femmes%20sont%20parmi%20les%20plus%20impact%C3%A9s.mp4?alt=media&token=28ed6580-8ee9-48de-8704-095eac679853" type="video/mp4">
        Votre navigateur ne prend pas en charge la cette vidéo.
      </video>
    </ion-card>
    <div style="padding: 10px; text-align: center;">
      <label style="font-size: 20px; color: #2dbb17;" for="">Au Mali, le dérèglement climatique constitue de fortes menaces sur les activités agricoles et la stabilité du pays.</label>
      <p style=" text-align: left; color: #1727bb;">Avec Mali Climat rester informer</p>
      <ion-button class="signup-button" size="medium" color="success" routerLink="/localites">Voir l'actualité du jour</ion-button>
    </div>
  </ion-content>
  <ion-footer>
    <div class="footer">
      <ion-item lines=none>
        <!-- <ion-avatar slot="start">
          <img src="" style="height: 50px;">
        </ion-avatar> -->
        <ion-label class="ion-text-wrap">
         Tel : 72 72 36 92 <br> Email : mbah0397@gmail.com
        </ion-label>
      </ion-item>
    </div>
  </ion-footer>
