ion-content {
  --background: linear-gradient(0deg, rgba(48, 231, 24, 0.7),  rgba(20, 221, 47, 0.1));
  text-align: justify-all;

}
ion-card {
  background-color: none;
}
.div{
  background-color: none;
}


