<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs">
        <ion-icon name="caret-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>A propos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <ion-text color="success">
    <h5 class="ion-text-uppercase"><b>Application Mali Climat</b></h5>
  </ion-text>
  <ion-img class="ion-margin" src="https://firebasestorage.googleapis.com/v0/b/ionfire-d0376.appspot.com/o/images%2Fmon_logo.png?alt=media&token=792b03f4-518b-4c4b-b322-0999adc3f804" alt="photo"></ion-img>
  <ion-text class="ion-margin-top">
    <p> Nous <strong> A rediger.....</strong> </p>
    <p>Projet de fin de formation<strong>Orange Digital Kalanso,</strong></p>
    <p></p>
    <ion-img class="ion-margin" src="https://firebasestorage.googleapis.com/v0/b/ionfire-d0376.appspot.com/o/images%2Forang.jpeg?alt=media&token=21884842-402e-4215-ae1b-12de1f7a6352" alt="photo"></ion-img>
    <p> Que faut il savoir sur <strong>Orange Digital Kalanso ?</strong></p>
    <p>
    A rediger ......
    </p>
  </ion-text>
  <ion-text class="ion-text-center ion-margin">
    <p><strong>Orange en Collaboration avec Simplon online et Giz Partenaire du développement des jeunes</strong></p>
    <ion-img class="ion-margin" src="" alt="photo"></ion-img>
  </ion-text>
</ion-content>
