<ion-header [translucent]="false">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Actualités</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-slides pager="true" [options]="slideOpts" #slides>
    <ion-slide *ngFor="let actu of actualites">
      <ion-card>
        <ion-card-header>
          <p>{{actu.Date}}</p>
          <ion-img src="{{actu.Image}}"></ion-img>
          <ion-card-title>{{actu.Name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>{{actu.Description}}</p>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
 