ion-toolbar{

  --background:linear-gradient(#17BB89, #17BB89);
  color: white;
  ion-title{
      font-size: 14px;
      font-weight: 900;
  }
}
ion-content {
  --background: linear-gradient(0deg, rgb(180, 220, 253),  rgba(9, 6, 150, 0.1)),
  url("/assets/background.jpg") no-repeat center center / cover;

}
.div{
  color: rgb(2, 9, 105);;}
