<ion-card color="success">
  <ion-card-content class="ion-no-padding; ion-no-marging">
    <ion-grid>
      <ion-row>
        <ion-col size="7">
          <ion-img [src]="postImage"></ion-img>
        </ion-col>
        <ion-col size="5">
          <ion-row style="padding-left: 30px;">
            <ion-text color="success">
              <h2>{{ post.from }}</h2>
            </ion-text>
          </ion-row>
          <ion-row style="padding-left: 30px;">
            <ion-text color="success">
              <p>{{ post.createdAt?.toMillis() | date:'short' }}</p>
            </ion-text>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-text color="primary">
          <h2>{{ post.ville }}</h2>
        </ion-text>
      </ion-row>
    </ion-grid>

    <ion-grid>
      <ion-row class="btnRow ion-align-items-center">

        <ion-chip *ngIf="post.type==='climat'" size="small">
          <ion-icon name="partly-sunny-outline" color="primary"></ion-icon>
          <ion-label color="success">climat</ion-label>
        </ion-chip>
        <ion-chip *ngIf="post.type==='conseil'" size="small">
          <ion-icon name="information-circle-outline" color="success"></ion-icon>
          <ion-label color="success">Conseil</ion-label>
        </ion-chip>
        <ion-chip *ngIf="post.type==='question'" size="small">
          <ion-icon name="help-circle-outline" color="warning"></ion-icon>
          <ion-label color="primary">Question</ion-label>
        </ion-chip>

        <ion-row class="ion-padding">
          <ion-text color="success" class="post-message">
            <h2>{{ post.msg }}</h2>
          </ion-text>
        </ion-row>

        <ion-col size="6" class="ion-align-self-center">
          <ion-chip *ngIf="post.countLikes >= 0" size="small">
            <ion-icon name="heart-outline" color="danger"></ion-icon>
            <ion-label color="success">{{ post.countLikes }} Aimer</ion-label>
          </ion-chip>
        </ion-col>

        <ion-col size="6" class="ion-align-self-center">
          <ion-chip *ngIf="(post.comments$ | async)?.length>=0" size="small">
            <ion-icon name="chatbox-ellipses-outline" color="success"></ion-icon>
            <ion-label color="success">{{ post.countComments }} Réponse</ion-label>
          </ion-chip>
        </ion-col>

      </ion-row>
    </ion-grid>

    <ion-item-divider></ion-item-divider>

    <ion-list *ngIf="viewComments" class="commentsarea">


      <ion-row class="ion-align-items-center">
        <ion-col size="9">
          <ion-textarea autoGrow="true" class="comment-input" rows="1" maxLenght="10000" [(ngModel)]="newMsg"
            placeholder="Ajoutez votre commentaire ici...">
          </ion-textarea>
        </ion-col>
        <ion-col size="3">
          <ion-button expand="block" color="light" [disabled]="newMsg === ''" class="msg-btn"
            (click)="addPostComment()">
            <ion-icon class="sendCommentBtn" name="send" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>

      <div *ngFor="let comment of post.comments">
        <ion-item color="light">

          <ion-col size="10" class="align-items-stretch">
            <ion-row class="align-items-stretch">
              <ion-text color="success">{{comment.fromName}} . <span class="timestamp">{{
                  comment.createdAt?.toMillis() | date:'short' }}</span></ion-text>
            </ion-row>
            <ion-row class="align-items-stretch">
              <ion-text color="dark">
                <p>{{comment.msg}}</p>
              </ion-text>
            </ion-row>
          </ion-col>

        </ion-item>
      </div>
    </ion-list>

    <!-- <ion-item-divider></ion-item-divider> -->

    <ion-grid>

      <ion-row class="btnRow">

        <ion-col size="4" class="ion-align-self-center">
          <ion-button fill="clear" (click)="togglePostLiked()" color="success">
            <ion-icon [ngClass]="{'liked' : post.userLikes}"
              [name]="post.userLikes === true ? 'heart' : 'heart-outline'" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col size="4" class="ion-align-self-center">
          <!-- <ion-button fill="clear" [disabled] = "true" color="secondary"><ion-icon name="call-outline" slot="icon-only"></ion-icon></ion-button> -->
        </ion-col>

        <ion-col size="4" class="ion-align-self-center">
          <ion-button fill="clear" (click)="toggleViewComments()" color="success">
            <ion-icon name="chatbox-ellipses-outline" slot="icon-only"></ion-icon>
          </ion-button>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-card-content>
</ion-card>