ion-content {
  --background: linear-gradient(0deg, rgba(0, 0, 0, 0),  rgba(0, 0, 0, 0)),
  url("https://firebasestorage.googleapis.com/v0/b/ionfire-d0376.appspot.com/o/images%2Fbackground.jpg?alt=media&token=ad5bace5-c863-4b07-833b-3729c14a4301") no-repeat center center / cover;
}

ion-card {
    background-color: #eef4fc;
  }

.commentsarea {
  background-color: #d1e6fd !important;

}

[size="medium"] {
  height: 20px;
  font-size: 12px;
}

[size="large"] {
  height: 50px;

  padding: 25px;

  border-radius: 25px;
}

ion-chip.wide {
  width: 100%;

  justify-content: center;
}

ion-item-divider{
  margin-top: 0px;
  min-height: 0.4px!important;
}

ion-img {
  width: 75px;
}

.timestamp {
  font-size: x-small;
  color: var(--ion-color-secondary);
}

.comment-input {
  width: 100%;
  border: 1px solid var(--ion-color-medium);
  border-radius: 35px;
  background-color: rgb(228, 229, 247);
  resize: none;
  margin-top: 0px;
  --padding-start: 8px;
}

.sendCommentBtn {
  font-size: large !important;
}

.btnRow {
  text-align: center;
}

.liked {
  color: var(--ion-color-danger);
}
