<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-button routerLink="/tabs">
        <ion-icon name="caret-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>conditions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-text>
      <h5>Conditions Générales d’Utilisation – 22/02/2022</h5>


      <p>
        Les présentes conditions générales d'utilisation (dites « CGU ») ont pour objet l'encadrement juridique des
        modalités de mise à disposition de l’application et des services par Mali-Climat et de définir les conditions
        d’accès et d’utilisation des services par « l'Utilisateur ».
        Les présentes CGU sont accessibles sur l’application à la rubrique «CGU» <br>
        Toute inscription ou utilisation de l’application implique l'acceptation sans aucune réserve ni restriction des
        présentes CGU par l’utilisateur. Lors de l'inscription sur l’application via le Formulaire d’inscription, chaque
        utilisateur accepte expressément les présentes CGU en cochant la case précédant le texte suivant : « Je
        reconnais
        avoir lu et compris les CGU et je les accepte ».
        En cas de non-acceptation des CGU stipulées dans le présent contrat, l'Utilisateur se doit de renoncer à l'accès
        des services proposés par l’application. <br>
        Mali Climat se réserve le droit de modifier unilatéralement et à tout moment le contenu des présentes CGU.
        Article 1 : Les mentions légales
      </p>
    </ion-text>
  </ion-card>
</ion-content>
