<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
   <ion-label>Activer les notifications</ion-label>
   <ion-toggle [(ngModel)]="notifications" (ionChange)="requestPushNotificationsPermission($event)"></ion-toggle>
 </ion-item>
 <div *ngIf="!loadingData">

  <div class="card">
    <div class="header">
      <div class="avatar">
        <img [src]="currentUser.image" alt="pohoto profile">
      </div>
    </div>

    <div class="card-body">
      <div class="user-meta ion-text-center">
        <ion-list>
          <ion-list-header>Utilisateur</ion-list-header>

          <ion-item>
            <ion-label position="stacked">Nom</ion-label>
            <ion-input [value]="currentUser.name"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input [value]="currentUser.email" readonly></ion-input>
          </ion-item>


          <ion-item>
            <ion-label position="stacked">Ville</ion-label>
            <ion-input placeholder="lieu de residence"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Nméro téléphone</ion-label>
            <ion-input placeholder="12345678"></ion-input>
          </ion-item>

          <ion-list-header>Autorisation</ion-list-header>

          <ion-item>
            <ion-label position="stacked">Autoriser les utilisateurs à m'appeler</ion-label>
            <ion-checkbox slot="end" checked="true"></ion-checkbox>
          </ion-item>
        </ion-list>

        <ion-button class="ion-margin" expand="block" routerLink="/tabs">
          <ion-icon slot="start" name="save-outline"></ion-icon>
          Enregistrer
        </ion-button>

      </div>
    </div>

  </div>

</div>
</ion-content>
